            </div>
            <script id="initial-props" type="text/plain" data-json={{initialProps}}></script>
        </div>
      </section>
      {%include "footer.html" %}
    </div>
      
      
  </body>
      
</html>

<script src="/public/js/tenants/runtime-main.a18514ed.js" defer></script>
<script src="/public/js/tenants/2.8aafea36.chunk.js" defer></script>
<script src="/public/js/tenants/main.003a4fc9.chunk.js" defer></script>

<!--link href="/public/css/main.dfca195d.chunk.css" rel="stylesheet" defer-->

