                   </div>
                    <script id="initial-props" type="text/plain" data-json={{initialProps}}></script>
                </div>
            </section>
            {%include "footer.html" %}
        </div>
    </body>
</html>

<script src="/public/js/users/runtime-main.7c573503.js" defer></script>
<script src="/public/js/users/2.01b1028f.chunk.js" defer></script>
<script src="/public/js/users/main.a5072dd6.chunk.js" defer></script>

<!--link href="/public/css/main.dfca195d.chunk.css" rel="stylesheet" defer-->

